@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

.cabeçalho{
  background-color: #789ec9;
  min-height: 2000px;
  max-width: 800px;
  margin: 0;
  padding: 0;

}

.nome {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: absolute;
  left: 250px;
  top: 650px;
}

.imagem{
  position: absolute;
  left: 300px;
  top: 150px;
  border-radius: 40%;
}

ul.indice {
  list-style-type: none;
  position: absolute;
  left: 50px;
  top: 25px;
}

.texto-direita {
  position: absolute;
  margin: 50px;
  width: 750px;
  right: 170px;
  top: 110px;
  text-align: justify;
}

.estilo-titulos {
  font-size: 70px;
  line-height: 50px;
  margin-bottom: 80px;
}

p {
  font-size: 28px;

}

div.lista-habilidades {
  position: relative;
  top: 1600px;
  left: 80px;
}

#skills {
  font-size: 40px;
  margin-bottom: 30px;
}

li {
  line-height: 40px;
  font-weight: bold;
}

.informações {
  text-align: center;
  position: relative;
  top: 1000px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 50px;
}

h2 {
  margin: 50px;
}

.localizacao {
  border-radius: 50%;
  border: 3px solid black;
}